- This file reads in the downloaded external data, formats them, and saves them in the ExternalDataFormatted Folder, 
- The DataPrepMergingFeatures_2 should be run after this

Imports

In [1]:
import pandas as pd
import numpy as np

Data Checklist
- New car registrations
- Public holidays
- Inflation
- GDP Growth
- USD TRY

### New car Registration Data

In [2]:
df = pd.read_excel("ExternalDataRaw\TUIKKaraTasıtYeniKayit.xls")

In [3]:
df.head()

,Year,Month,Akdeniz-TR6,Batı Anadolu-TR5,Batı Karadeniz-TR8,Batı Marmara-TR2,Doğu Karadeniz-TR9,Doğu Marmara-TR4,Ege-TR3,Güneydoğu Anadolu-TRC,İstanbul-TR1,Kuzeydoğu Anadolu-TRA,Orta Anadolu-TR7,Ortadoğu Anadolu-TRB
0,2013,01-Ocak,16090,13534,4292,4926,2631,10304,15519,7716,39681,1690,3969,2667
1,2013,02-Şubat,7566,6418,2049,2672,1111,4937,7820,3587,20793,834,1756,1137
2,2013,03-Mart,10920,9202,2885,3984,1524,6962,11546,4867,30890,1254,2652,1711
3,2013,04-Nisan,12895,9549,3236,4591,1684,8212,13697,5744,33105,1611,3113,1997
4,2013,05-Mayıs,16943,12884,4504,6444,2160,10850,18999,6993,48231,1948,4051,2485

- Combine date columns

In [4]:
df["Date"] = df["Year"].astype(str) + "-" + df['Month'].astype(str).str[0:2] + "-01"
df.drop(labels=["Month","Year"],axis=1,inplace=True)

In [5]:
df.head(1)

,Akdeniz-TR6,Batı Anadolu-TR5,Batı Karadeniz-TR8,Batı Marmara-TR2,Doğu Karadeniz-TR9,Doğu Marmara-TR4,Ege-TR3,Güneydoğu Anadolu-TRC,İstanbul-TR1,Kuzeydoğu Anadolu-TRA,Orta Anadolu-TR7,Ortadoğu Anadolu-TRB,Date
0,16090,13534,4292,4926,2631,10304,15519,7716,39681,1690,3969,2667,2013-01-01

In [6]:
df.columns

Index(['Akdeniz-TR6', 'Batı Anadolu-TR5', 'Batı Karadeniz-TR8',
       'Batı Marmara-TR2', 'Doğu Karadeniz-TR9', 'Doğu Marmara-TR4', 'Ege-TR3',
       'Güneydoğu Anadolu-TRC', 'İstanbul-TR1', 'Kuzeydoğu Anadolu-TRA',
       'Orta Anadolu-TR7', 'Ortadoğu Anadolu-TRB', 'Date'],
      dtype='object')

Combine into following regions
- Marmara Bölgesi    
    - TR2,TR4,TR1 
- Ege Bölgesi  
    - TR3            
- İç Anadolu Bölgesi 
    - TR5,TR7       
- Akdeniz Bölgesi
    - TR6               
- Karadeniz Bölgesi    
    - TR8,TR9        
- Güneydoğu Anadolu Bölgesi  
    - TRC   
- Doğu Anadolu Bölgesi    
    - TRA,TRB

In [7]:
# Create new columns with the sum of each region
df["Marmara Bölgesi"] = df[['Batı Marmara-TR2','Doğu Marmara-TR4','İstanbul-TR1']].sum(axis=1)
df["Ege Bölgesi"] = df['Ege-TR3']
df["İç Anadolu Bölgesi"] = df[['Batı Anadolu-TR5', 'Orta Anadolu-TR7']].sum(axis=1)
df["Akdeniz Bölgesi"] = df['Akdeniz-TR6']
df["Karadeniz Bölgesi"] = df[['Doğu Karadeniz-TR9','Batı Karadeniz-TR8']].sum(axis=1)
df["Güneydoğu Anadolu Bölgesi"] =  df['Güneydoğu Anadolu-TRC']
df["Doğu Anadolu Bölgesi"] = df[['Kuzeydoğu Anadolu-TRA','Ortadoğu Anadolu-TRB']].sum(axis=1)

In [8]:
# drop old columns
df = df[["Date","Akdeniz Bölgesi", "İç Anadolu Bölgesi","Karadeniz Bölgesi","Marmara Bölgesi", "Ege Bölgesi", "Güneydoğu Anadolu Bölgesi",
"Doğu Anadolu Bölgesi"]]

In [9]:
df.head()

,Date,Akdeniz Bölgesi,İç Anadolu Bölgesi,Karadeniz Bölgesi,Marmara Bölgesi,Ege Bölgesi,Güneydoğu Anadolu Bölgesi,Doğu Anadolu Bölgesi
0,2013-01-01,16090,17503,6923,54911,15519,7716,4357
1,2013-02-01,7566,8174,3160,28402,7820,3587,1971
2,2013-03-01,10920,11854,4409,41836,11546,4867,2965
3,2013-04-01,12895,12662,4920,45908,13697,5744,3608
4,2013-05-01,16943,16935,6664,65525,18999,6993,4433

In [10]:
# Convert to datetime object and add new column indicating when the data is available (t+2 months)
df["Date"]= pd.to_datetime(df['Date'])
df["DataReleaseDate"] = df["Date"] + pd.to_timedelta(50,unit='d')

In [11]:
df.head()

,Date,Akdeniz Bölgesi,İç Anadolu Bölgesi,Karadeniz Bölgesi,Marmara Bölgesi,Ege Bölgesi,Güneydoğu Anadolu Bölgesi,Doğu Anadolu Bölgesi,DataReleaseDate
0,2013-01-01,16090,17503,6923,54911,15519,7716,4357,2013-02-20
1,2013-02-01,7566,8174,3160,28402,7820,3587,1971,2013-03-23
2,2013-03-01,10920,11854,4409,41836,11546,4867,2965,2013-04-20
3,2013-04-01,12895,12662,4920,45908,13697,5744,3608,2013-05-21
4,2013-05-01,16943,16935,6664,65525,18999,6993,4433,2013-06-20

Set the data release date to nearest sunday

In [12]:
df["DataReleaseDate"] = df["DataReleaseDate"] - pd.to_timedelta(df["DataReleaseDate"].dt.dayofweek, unit='d') +  pd.to_timedelta(6, unit='d')

Pivot table so its easier to merge

In [13]:
df = df.melt(id_vars=["Date", "DataReleaseDate"],
var_name="Region",
value_name="Cars")

In [14]:
df = df[df["DataReleaseDate"] > "2013-12-01" ]
df.sort_values(by=["Region","Date"],inplace=True)
df.reset_index(inplace=True,drop=True)

In [15]:
df.head()

        Date DataReleaseDate           Region   Cars
0 2013-11-01      2013-12-22  Akdeniz Bölgesi  12007
1 2013-12-01      2014-01-26  Akdeniz Bölgesi   9999
2 2014-01-01      2014-02-23  Akdeniz Bölgesi  15874
3 2014-02-01      2014-03-23  Akdeniz Bölgesi   6537
4 2014-03-01      2014-04-20  Akdeniz Bölgesi   8564

Now want to transform this into a 12m cumulative sum

In [16]:
regions = df["Region"].unique()
for region in regions:
    df.loc[df["Region"]==region,"Cars(12m)"] = df[df.Region == region]["Cars"].rolling(12).sum()

In [17]:
df

          Date DataReleaseDate              Region   Cars  Cars(12m)
0   2013-11-01      2013-12-22     Akdeniz Bölgesi  12007        NaN
1   2013-12-01      2014-01-26     Akdeniz Bölgesi   9999        NaN
2   2014-01-01      2014-02-23     Akdeniz Bölgesi  15874        NaN
3   2014-02-01      2014-03-23     Akdeniz Bölgesi   6537        NaN
4   2014-03-01      2014-04-20     Akdeniz Bölgesi   8564        NaN
..         ...             ...                 ...    ...        ...
513 2019-08-01      2019-09-22  İç Anadolu Bölgesi   4928    85293.0
514 2019-09-01      2019-10-27  İç Anadolu Bölgesi   6716    86403.0
515 2019-10-01      2019-11-24  İç Anadolu Bölgesi   9058    90466.0
516 2019-11-01      2019-12-22  İç Anadolu Bölgesi   9258    89389.0
517 2019-12-01      2020-01-26  İç Anadolu Bölgesi   8138    89685.0

[518 rows x 5 columns]

Drop monthly car column

In [155]:
df.drop(labels="Cars",axis=1,inplace=True)
df.rename(columns={"Cars(12m)":"Cars"},inplace=True)

In [156]:
df.head()

        Date DataReleaseDate           Region  Cars
0 2013-11-01      2013-12-22  Akdeniz Bölgesi   NaN
1 2013-12-01      2014-01-26  Akdeniz Bölgesi   NaN
2 2014-01-01      2014-02-23  Akdeniz Bölgesi   NaN
3 2014-02-01      2014-03-23  Akdeniz Bölgesi   NaN
4 2014-03-01      2014-04-20  Akdeniz Bölgesi   NaN

- Put these into a weekly df

In [157]:
df_dates = pd.date_range('2014-01-05', '2019-12-30', freq='1W').to_frame(name='Date').reset_index(drop=True)
df_dates = pd.DataFrame(np.repeat(df_dates.values, 7, axis=0))
df_dates.columns = ["Date"]

In [158]:
df_dates["Region"] = ["Akdeniz Bölgesi", "İç Anadolu Bölgesi","Karadeniz Bölgesi","Marmara Bölgesi", "Ege Bölgesi", "Güneydoğu Anadolu Bölgesi",
"Doğu Anadolu Bölgesi"]*313

In [159]:
df_dates.sort_values(by=["Region","Date"],inplace=True)

In [160]:
df_dates.reset_index(inplace=True,drop=True)

In [161]:
df_dates["Cars"] = 0

for i in range(len(df_dates)):
    for k in range(len(df)-1):
        if df_dates.loc[i,"Region"] == df.loc[k,"Region"]:
            if df_dates.loc[i,"Date"] > df.loc[k,"DataReleaseDate"] and df_dates.loc[i,"Date"] <= df.loc[k+1,"DataReleaseDate"]:
                #print(df_dates.loc[i,"Date"], 
                #df.loc[k,"DataReleaseDate"],
                #df.loc[k+1,"DataReleaseDate"])
                df_dates.loc[i,"Cars"] = df.loc[k,"Cars"]

In [162]:
# Add one day so it matches with the training/test data
df_dates["Date"] = df_dates["Date"] + pd.to_timedelta(1,unit='d')

In [163]:
df_dates

           Date              Region     Cars
0    2014-01-06     Akdeniz Bölgesi      NaN
1    2014-01-13     Akdeniz Bölgesi      NaN
2    2014-01-20     Akdeniz Bölgesi      NaN
3    2014-01-27     Akdeniz Bölgesi      NaN
4    2014-02-03     Akdeniz Bölgesi      NaN
...         ...                 ...      ...
2186 2019-12-02  İç Anadolu Bölgesi  90466.0
2187 2019-12-09  İç Anadolu Bölgesi  90466.0
2188 2019-12-16  İç Anadolu Bölgesi  90466.0
2189 2019-12-23  İç Anadolu Bölgesi  90466.0
2190 2019-12-30  İç Anadolu Bölgesi  89389.0

[2191 rows x 3 columns]

In [164]:
df_dates.reset_index(inplace=True,drop=True)
df_dates.to_csv("CarRegistrationDataReady.csv",index=False)

## Public Holiday Data

In [166]:
df = pd.read_excel("ExternalDataRaw\Holidays.xlsx")

In [167]:
df

         Date           Holiday  Official  Religious  Weekend  Weekday
0  2014-01-01         New years         1          0        0        1
1  2014-04-23        23rd April         1          0        0        1
2  2014-05-01           Workers         1          0        0        1
3  2014-05-19  Youth and Sports         1          0        0        1
4  2014-07-27           Ramadan         0          1        1        0
..        ...               ...       ...        ...      ...      ...
88 2019-08-11             Candy         0          1        1        0
89 2019-08-12             Candy         0          1        0        1
90 2019-08-13             Candy         0          1        0        1
91 2019-08-14             Candy         0          1        0        1
92 2019-10-29          Republic         1          0        0        1

[93 rows x 6 columns]

In [168]:
df.drop(labels=["Holiday","Official", "Religious"],axis=1, inplace=True)

Round holiday dates to week start dates

In [169]:
df["Date"]  = df["Date"] - pd.to_timedelta(df["Date"].dt.dayofweek, unit='d')

In [170]:
df

         Date  Weekend  Weekday
0  2013-12-30        0        1
1  2014-04-21        0        1
2  2014-04-28        0        1
3  2014-05-19        0        1
4  2014-07-21        1        0
..        ...      ...      ...
88 2019-08-05        1        0
89 2019-08-12        0        1
90 2019-08-12        0        1
91 2019-08-12        0        1
92 2019-10-28        0        1

[93 rows x 3 columns]

In [171]:
# Sum up all holidays for the given week
df= df.groupby(df['Date']).aggregate("sum")

In [172]:
df.reset_index(inplace=True)
df.head()

        Date  Weekend  Weekday
0 2013-12-30        0        1
1 2014-04-21        0        1
2 2014-04-28        0        1
3 2014-05-19        0        1
4 2014-07-21        1        0

In [173]:
df.to_csv("HolidayDataReady.csv", index=False)

### Inflation data

In [177]:
df = pd.read_excel("ExternalDataRaw\Inflation.xls")

In [178]:
df

    Year       Month  MoMInflation%
0   2013     01-Ocak           1.65
1   2013    02-Şubat           1.95
2   2013     03-Mart           2.63
3   2013    04-Nisan           3.06
4   2013    05-Mayıs           3.21
..   ...         ...            ...
79  2019  08-Ağustos           7.35
80  2019    09-Eylül           8.42
81  2019     10-Ekim          10.59
82  2019    11-Kasım          11.01
83  2019   12-Aralık          11.84

[84 rows x 3 columns]

In [179]:
df["Date"] = df["Year"].astype(str) + "-" + df['Month'].astype(str).str[0:2] + "-01"
df.drop(labels=["Month","Year"],axis=1,inplace=True)

In [180]:
# Convert to datetime object and add new column indicating when the data is available (t+1 months)
df["Date"]= pd.to_datetime(df['Date'])
df["DataReleaseDate"] = df["Date"] + pd.to_timedelta(32,unit='d')

In [181]:
# Set the data release date to nearest sunday
df["DataReleaseDate"] = df["DataReleaseDate"] - pd.to_timedelta(df["DataReleaseDate"].dt.dayofweek, unit='d') +  pd.to_timedelta(6, unit='d')

In [182]:
df

    MoMInflation%       Date DataReleaseDate
0            1.65 2013-01-01      2013-02-03
1            1.95 2013-02-01      2013-03-10
2            2.63 2013-03-01      2013-04-07
3            3.06 2013-04-01      2013-05-05
4            3.21 2013-05-01      2013-06-02
..            ...        ...             ...
79           7.35 2019-08-01      2019-09-08
80           8.42 2019-09-01      2019-10-06
81          10.59 2019-10-01      2019-11-03
82          11.01 2019-11-01      2019-12-08
83          11.84 2019-12-01      2020-01-05

[84 rows x 3 columns]

- Put these into a weekly df

In [183]:
df_dates = pd.date_range('2014-01-05', '2019-12-30', freq='1W').to_frame(name='Date').reset_index(drop=True)
df_dates.columns = ["Date"]
df_dates.sort_values(by="Date",inplace=True)
df_dates.reset_index(inplace=True,drop=True)

In [184]:
df_dates["MoMInflation%"] = 0

for i in range(len(df_dates)):
    for k in range(len(df)-1):
        if df_dates.loc[i,"Date"] > df.loc[k,"DataReleaseDate"] and df_dates.loc[i,"Date"] <= df.loc[k+1,"DataReleaseDate"]:
            df_dates.loc[i,"MoMInflation%"] = df.loc[k,"MoMInflation%"]

In [185]:
# Add one day so it matches with the training/test data
df_dates["Date"] = df_dates["Date"] + pd.to_timedelta(1,unit='d')

In [186]:
df_dates

          Date  MoMInflation%
0   2014-01-06           6.91
1   2014-01-13           7.40
2   2014-01-20           7.40
3   2014-01-27           7.40
4   2014-02-03           7.40
..         ...            ...
308 2019-12-02          10.59
309 2019-12-09          10.59
310 2019-12-16          11.01
311 2019-12-23          11.01
312 2019-12-30          11.01

[313 rows x 2 columns]

In [187]:
df_dates.reset_index(inplace=True,drop=True)
df_dates.to_csv("InflationDataReady.csv",index=False)

# GDP Growth Data

In [189]:
df = pd.read_excel("ExternalDataRaw\GDPGrowth.xlsx")
df.columns = ["DataReleaseDate", "GDPGrowth%"]

In [190]:
df.head()

  DataReleaseDate  GDPGrowth%
0    Dec 02, 2019       0.009
1    Sep 02, 2019      -0.015
2    May 31, 2019      -0.026
3    Mar 11, 2019      -0.030
4    Dec 10, 2018       0.016

In [191]:
df["DataReleaseDate"] = pd.to_datetime(df['DataReleaseDate'])

In [192]:
df.sort_values(by="DataReleaseDate",inplace=True)
df.reset_index(inplace=True,drop=True)
df.head(-1)

   DataReleaseDate  GDPGrowth%
0       2013-12-10       0.044
1       2014-03-31       0.044
2       2014-06-10       0.043
3       2014-09-10       0.021
4       2014-12-10       0.017
5       2015-03-31       0.026
6       2015-06-10       0.023
7       2015-09-10       0.038
8       2015-12-10       0.040
9       2016-03-31       0.057
10      2016-06-10       0.048
11      2016-09-09       0.031
12      2016-12-12      -0.018
13      2017-03-31       0.035
14      2017-06-12       0.050
15      2017-09-11       0.051
16      2017-12-11       0.111
17      2018-03-29       0.073
18      2018-06-11       0.074
19      2018-09-10       0.052
20      2018-12-10       0.016
21      2019-03-11      -0.030
22      2019-05-31      -0.026
23      2019-09-02      -0.015

- Put these into a weekly df

In [193]:
df_dates = pd.date_range('2014-01-05', '2019-12-30', freq='1W').to_frame(name='Date').reset_index(drop=True)
df_dates.columns = ["Date"]
df_dates.sort_values(by="Date",inplace=True)
df_dates.reset_index(inplace=True,drop=True)

In [194]:
df_dates["GDPGrowth%"] = 0

for i in range(len(df_dates)):
    for k in range(len(df)-1):
        if df_dates.loc[i,"Date"] > df.loc[k,"DataReleaseDate"] and df_dates.loc[i,"Date"] <= df.loc[k+1,"DataReleaseDate"]:
            df_dates.loc[i,"GDPGrowth%"] = df.loc[k,"GDPGrowth%"]

    # set last 4 entries manually
    if i >= 309:
        df_dates.loc[i,"GDPGrowth%"] = df.loc[len(df)-1,"GDPGrowth%"]

In [195]:
# Add one day so it matches with the training/test data
df_dates["Date"] = df_dates["Date"] + pd.to_timedelta(1,unit='d')
df_dates

          Date  GDPGrowth%
0   2014-01-06       0.044
1   2014-01-13       0.044
2   2014-01-20       0.044
3   2014-01-27       0.044
4   2014-02-03       0.044
..         ...         ...
308 2019-12-02      -0.015
309 2019-12-09       0.009
310 2019-12-16       0.009
311 2019-12-23       0.009
312 2019-12-30       0.009

[313 rows x 2 columns]

In [196]:
df_dates.reset_index(inplace=True,drop=True)
df_dates.to_csv("GDPDataReady.csv",index=False)

# USD TRY DATA

In [197]:
df = pd.read_csv(r"ExternalDataRaw\USDTRYWeeklyChanges.csv")
df

           Date WoWChange%
0    29.12.2019      0,37%
1    22.12.2019      0,23%
2    15.12.2019      2,21%
3    08.12.2019      0,55%
4    01.12.2019      0,52%
..          ...        ...
308  02.02.2014     -1,80%
309  26.01.2014     -3,04%
310  19.01.2014      4.47%
311  12.01.2014      3.08%
312  05.01.2014     -0.62%

[313 rows x 2 columns]

In [198]:
df["Date"] = pd.to_datetime(df['Date'],format="%d.%m.%Y")

In [199]:
df.sort_values(by="Date",inplace=True)
df.reset_index(inplace=True,drop=True)

In [200]:
df["Date"] = df["Date"] +  pd.to_timedelta(1,unit='d')
df

          Date WoWChange%
0   2014-01-06     -0.62%
1   2014-01-13      3.08%
2   2014-01-20      4.47%
3   2014-01-27     -3,04%
4   2014-02-03     -1,80%
..         ...        ...
308 2019-12-02      0,52%
309 2019-12-09      0,55%
310 2019-12-16      2,21%
311 2019-12-23      0,23%
312 2019-12-30      0,37%

[313 rows x 2 columns]

In [201]:
df.to_csv("USDDataReady.csv",index=False)