In [1]:
import pandas as pd

In [2]:
df_prices = pd.read_csv("price.csv")
df_test = pd.read_csv("train.csv")

In [3]:
df_prices

        City Code   Validfrom  Product   CRP
0             116  2016-07-27   Benzin  4.46
1             116  2016-07-28   Benzin  4.46
2             116  2016-07-29   Benzin  4.46
3             116  2016-07-30   Benzin  4.40
4             116  2016-07-31   Benzin  4.40
...           ...         ...      ...   ...
311739        990  2019-12-27  Motorin  6.74
311740        990  2019-12-28  Motorin  6.74
311741        990  2019-12-29  Motorin  6.74
311742        990  2019-12-30  Motorin  6.74
311743        990  2019-12-31  Motorin  6.74

[311744 rows x 4 columns]

In [4]:
df_test

,Customer,Area,City Code,Billing Date,Product,Plant,Litres
0,10048261,Karadeniz Bölgesi,883,2014-01-01,Benzin,T102,0.0
1,10048261,Karadeniz Bölgesi,883,2014-01-01,Benzin,T155,0.0
2,10048261,Karadeniz Bölgesi,883,2014-01-01,Motorin,T102,0.0
3,10048261,Karadeniz Bölgesi,883,2014-01-01,Motorin,T155,0.0
4,10048261,Karadeniz Bölgesi,883,2014-01-02,Motorin,T155,16685.0
...,...,...,...,...,...,...,...
1379255,12663344,Doğu Anadolu Bölgesi,218,2018-12-22,Motorin,T317,1504.0
1379256,12663344,Doğu Anadolu Bölgesi,218,2018-12-28,Benzin,T317,11111.0
1379257,12663344,Doğu Anadolu Bölgesi,218,2018-12-28,Motorin,T317,22882.0
1379258,12664221,Marmara Bölgesi,941,2018-12-29,Benzin,T102,6528.0
1379259,12664221,Marmara Bölgesi,941,2018-12-29,Motorin,T102,26314.0